.postUpload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: 550px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  z-index: 2;
  .title {
    position: absolute;
    top: 0;
    width: 100%;
    border-bottom: 1px solid rgb(131, 126, 126);
    .backbtn {
      display: flex;
      align-items: center;
      width: 20%;
      cursor: pointer;
      .backIcon {
        cursor: pointer;
        margin-left: 10px;
      }
    }
    h2 {
      display: flex;
      justify-content: center;
      font-size: 0.8em;
      right: 0;
      font-weight: 500;
      cursor: pointer;
    }
    h2.act {
      display: flex;
      justify-content: center;
      font-size: 0.8em;
      font-weight: 500;
      width: 80%;
      margin-left: -50px;
      cursor: pointer;
    }
    .next {
      .nextBtn {
        background-color: white;
        border: none;
        outline: none;
        color: #0095f6;
        font-size: 10px;
        font-weight: 600;
        margin-right: 5px;
        cursor: pointer;
      }
    }
  }
  .title.act {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    border-bottom: 1px solid rgb(131, 126, 126);
    align-items: center;
    flex-direction: row;
  }

  .inputField {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .imgPost {
      width: 500px;
      height: 510px;
      margin-top: 40px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .imgvideo {
      font-size: 60px;
    }
    span {
      font-weight: 300;
      margin-bottom: 20px;
    }
    input[type="file"] {
      display: none;
    }
    label {
      color: white;
      background-color: #0095f6;
      padding: 5px;
      display: flex;
      font-size: 10px;
      font-weight: 600;
      border-radius: 5px;
      justify-content: center;
    }
  }
}
.postUpload.act {
  width: 700px;
  .publ.act {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .inputField.act {
      width: 75%;
    }
    .descInput {
      width: 30%;
      margin-top: 45px;

      .profilContainer {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-left: 10px;
        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
        .name {
          font-size: 10px;
        }
      }
      .textarea {
        height: 100px;
        border: none;
        resize: none;
        outline: none;
        margin-top: 10px;
        font-size: 10px;

        margin-left: 10px;
      }
      .addplace {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        input {
          border: none;
          outline: none;
          padding: 5px;
          font-size: 11px;
        }
        .locationIcon {
          font-size: 15px;
        }
      }
    }
  }
}
