.storie {
  width: 320px;
  height: 70px;
  background-color: white;
  border: 1px solid rgb(237, 232, 232);
  border-radius: 5px;
  display: flex;
  align-items: center;
  .storieContainer {
    padding: 25px 0px 15px 5px;
    display: flex;
    gap: 5px;
    .sItem {
      display: flex;
      flex-direction: column;
      padding: 2px;
      .storieImg {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid rosybrown;
        padding: 1px;
      }
      .name {
        font-size: 8px;
        margin-top: 2px;
        display: flex;
        justify-content: center;
      }
    }
  }
}
